<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"/>

    <application
        android:label="WiGul"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="false">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />

            <!-- 앱 실행 진입점 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Android 공유 시트: 외부 앱의 텍스트/링크 공유 수신
                 지그재그 등은 text/html·이미지 썸네일·SEND_MULTIPLE 조합을 씁니다. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- MIME 타입이 불명확하거나 이미지+링크 조합으로 공유하는 앱 대응 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- 지원 쇼핑몰 상품 링크: 무신사·에이블리·지그재그·29CM·올리브영·네이버쇼핑·당근·번개장터 -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="musinsa.com" />
                <data android:scheme="https" android:host="*.musinsa.com" />
                <data android:scheme="https" android:host="a-bly.com" />
                <data android:scheme="https" android:host="*.a-bly.com" />
                <data android:scheme="https" android:host="zigzag.kr" />
                <data android:scheme="https" android:host="*.zigzag.kr" />
                <data android:scheme="https" android:host="29cm.co.kr" />
                <data android:scheme="https" android:host="*.29cm.co.kr" />
                <data android:scheme="https" android:host="oliveyoung.co.kr" />
                <data android:scheme="https" android:host="*.oliveyoung.co.kr" />
                <data android:scheme="https" android:host="shopping.naver.com" />
                <data android:scheme="https" android:host="*.shopping.naver.com" />
                <data android:scheme="https" android:host="smartstore.naver.com" />
                <data android:scheme="https" android:host="*.smartstore.naver.com" />
                <data android:scheme="https" android:host="brand.naver.com" />
                <data android:scheme="https" android:host="*.brand.naver.com" />
                <data android:scheme="https" android:host="daangn.com" />
                <data android:scheme="https" android:host="*.daangn.com" />
                <data android:scheme="https" android:host="karrotmarket.com" />
                <data android:scheme="https" android:host="*.karrotmarket.com" />
                <data android:scheme="https" android:host="bunjang.co.kr" />
                <data android:scheme="https" android:host="*.bunjang.co.kr" />
                <data android:scheme="http" android:host="musinsa.com" />
                <data android:scheme="http" android:host="*.musinsa.com" />
                <data android:scheme="http" android:host="a-bly.com" />
                <data android:scheme="http" android:host="*.a-bly.com" />
                <data android:scheme="http" android:host="zigzag.kr" />
                <data android:scheme="http" android:host="*.zigzag.kr" />
                <data android:scheme="http" android:host="29cm.co.kr" />
                <data android:scheme="http" android:host="*.29cm.co.kr" />
                <data android:scheme="http" android:host="oliveyoung.co.kr" />
                <data android:scheme="http" android:host="*.oliveyoung.co.kr" />
                <data android:scheme="http" android:host="shopping.naver.com" />
                <data android:scheme="http" android:host="*.shopping.naver.com" />
                <data android:scheme="http" android:host="smartstore.naver.com" />
                <data android:scheme="http" android:host="*.smartstore.naver.com" />
                <data android:scheme="http" android:host="brand.naver.com" />
                <data android:scheme="http" android:host="*.brand.naver.com" />
                <data android:scheme="http" android:host="daangn.com" />
                <data android:scheme="http" android:host="*.daangn.com" />
                <data android:scheme="http" android:host="karrotmarket.com" />
                <data android:scheme="http" android:host="*.karrotmarket.com" />
                <data android:scheme="http" android:host="bunjang.co.kr" />
                <data android:scheme="http" android:host="*.bunjang.co.kr" />
            </intent-filter>

            <!-- app_links: sagongsa404://auth/callback 딥링크 수신 -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="sagongsa404"
                    android:host="auth"
                    android:pathPrefix="/callback" />
            </intent-filter>

            <!-- app_links: sagongsa404://notify/... 딥링크 수신 -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="sagongsa404"
                    android:host="notify" />
            </intent-filter>
        </activity>

        <!-- FCM 기본 알림 채널 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="wigul_default" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: 외부 브라우저(Chrome 등) 실행을 위한 쿼리 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
    </queries>
</manifest>
